/*.nopointer{
    pointer-events : none;
}*/

.display-input-image img{
    top:0;
}

.registration-form .form-group input[type="password"]{
    border-radius: 30px;
    padding-left: 12px;
    height: 30px;
    border: 1px solid #D4D6D9;
    font-family: 'Pretendard-Regular';
    font-weight: 400;
    padding: 0 6px;
    -webkit-appearance: none;
    margin: 0;
    max-width: 380px;
}

eyes {
    position: relative;
}

.eyes i{
    position: absolute;
    left: 445px;
    top: 6px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.registration-form .bootstrap-select:not(.w-100) > .dropdown-toggle.btn-light,
.registration-form .dropdown-menu,
:not(.input-group)>.bootstrap-select.form-control:not([class*='col-']):not(.w-100) {
    width: 380px !important;
}

.datepicker-days {

    display: block ;

}

.datepicker-months {

    display: block ;

}

.datepicker-years {

    display: block ;

}