<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kicpa.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>2</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>F7BA82FBC28C0F47F13427B86AC21B447709BB6B</string>
				<key>dateExpires</key>
				<string>2023/04/22</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F7BA82FBC28C0F47F13427B86AC21B447709BB6B</string>
						<key>dateExpires</key>
						<string>2023/04/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z64W8984KC</string>
						<key>name</key>
						<string>kyoungsoo choi</string>
					</dict>
					<key>versionNumber</key>
					<string>5.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F7BA82FBC28C0F47F13427B86AC21B447709BB6B</string>
						<key>dateExpires</key>
						<string>2023/04/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CryptoSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z64W8984KC</string>
						<key>name</key>
						<string>kyoungsoo choi</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F7BA82FBC28C0F47F13427B86AC21B447709BB6B</string>
						<key>dateExpires</key>
						<string>2023/04/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z64W8984KC</string>
						<key>name</key>
						<string>kyoungsoo choi</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F7BA82FBC28C0F47F13427B86AC21B447709BB6B</string>
						<key>dateExpires</key>
						<string>2023/04/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z64W8984KC</string>
						<key>name</key>
						<string>kyoungsoo choi</string>
					</dict>
					<key>versionNumber</key>
					<string>8.14.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F7BA82FBC28C0F47F13427B86AC21B447709BB6B</string>
						<key>dateExpires</key>
						<string>2023/04/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z64W8984KC</string>
						<key>name</key>
						<string>kyoungsoo choi</string>
					</dict>
					<key>versionNumber</key>
					<string>8.14.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F7BA82FBC28C0F47F13427B86AC21B447709BB6B</string>
						<key>dateExpires</key>
						<string>2023/04/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z64W8984KC</string>
						<key>name</key>
						<string>kyoungsoo choi</string>
					</dict>
					<key>versionNumber</key>
					<string>8.14.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F7BA82FBC28C0F47F13427B86AC21B447709BB6B</string>
						<key>dateExpires</key>
						<string>2023/04/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z64W8984KC</string>
						<key>name</key>
						<string>kyoungsoo choi</string>
					</dict>
					<key>versionNumber</key>
					<string>8.14.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F7BA82FBC28C0F47F13427B86AC21B447709BB6B</string>
						<key>dateExpires</key>
						<string>2023/04/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z64W8984KC</string>
						<key>name</key>
						<string>kyoungsoo choi</string>
					</dict>
					<key>versionNumber</key>
					<string>9.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F7BA82FBC28C0F47F13427B86AC21B447709BB6B</string>
						<key>dateExpires</key>
						<string>2023/04/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z64W8984KC</string>
						<key>name</key>
						<string>kyoungsoo choi</string>
					</dict>
					<key>versionNumber</key>
					<string>7.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F7BA82FBC28C0F47F13427B86AC21B447709BB6B</string>
						<key>dateExpires</key>
						<string>2023/04/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Lottie.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z64W8984KC</string>
						<key>name</key>
						<string>kyoungsoo choi</string>
					</dict>
					<key>versionNumber</key>
					<string>3.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F7BA82FBC28C0F47F13427B86AC21B447709BB6B</string>
						<key>dateExpires</key>
						<string>2023/04/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Moya.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z64W8984KC</string>
						<key>name</key>
						<string>kyoungsoo choi</string>
					</dict>
					<key>versionNumber</key>
					<string>15.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F7BA82FBC28C0F47F13427B86AC21B447709BB6B</string>
						<key>dateExpires</key>
						<string>2023/04/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RxCocoa.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z64W8984KC</string>
						<key>name</key>
						<string>kyoungsoo choi</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F7BA82FBC28C0F47F13427B86AC21B447709BB6B</string>
						<key>dateExpires</key>
						<string>2023/04/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RxRelay.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z64W8984KC</string>
						<key>name</key>
						<string>kyoungsoo choi</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F7BA82FBC28C0F47F13427B86AC21B447709BB6B</string>
						<key>dateExpires</key>
						<string>2023/04/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RxSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z64W8984KC</string>
						<key>name</key>
						<string>kyoungsoo choi</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F7BA82FBC28C0F47F13427B86AC21B447709BB6B</string>
						<key>dateExpires</key>
						<string>2023/04/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z64W8984KC</string>
						<key>name</key>
						<string>kyoungsoo choi</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F7BA82FBC28C0F47F13427B86AC21B447709BB6B</string>
						<key>dateExpires</key>
						<string>2023/04/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftKeychainWrapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z64W8984KC</string>
						<key>name</key>
						<string>kyoungsoo choi</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F7BA82FBC28C0F47F13427B86AC21B447709BB6B</string>
						<key>dateExpires</key>
						<string>2023/04/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z64W8984KC</string>
						<key>name</key>
						<string>kyoungsoo choi</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F7BA82FBC28C0F47F13427B86AC21B447709BB6B</string>
						<key>dateExpires</key>
						<string>2023/04/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z64W8984KC</string>
						<key>name</key>
						<string>kyoungsoo choi</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30908.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>Z64W8984KC.kr.or.kicpaMobile</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>Z64W8984KC</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>kicpa.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>2da2e12d-9c1e-409a-bb1e-d6f10d51fde9</string>
				<key>dateExpires</key>
				<string>2023/04/25</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: kr.or.kicpaMobile</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>Z64W8984KC</string>
				<key>name</key>
				<string>kyoungsoo choi</string>
			</dict>
			<key>versionNumber</key>
			<string>1.1</string>
		</dict>
	</array>
</dict>
</plist>
