<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kicpa.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>BC06599AD6CE42627BC50111AB594C323DADF08E</string>
				<key>dateExpires</key>
				<string>2023/03/26</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC06599AD6CE42627BC50111AB594C323DADF08E</string>
						<key>dateExpires</key>
						<string>2023/03/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6367RT73QM</string>
						<key>name</key>
						<string>The Korean Institute of Certified Public Accountants</string>
					</dict>
					<key>versionNumber</key>
					<string>5.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC06599AD6CE42627BC50111AB594C323DADF08E</string>
						<key>dateExpires</key>
						<string>2023/03/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CryptoSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6367RT73QM</string>
						<key>name</key>
						<string>The Korean Institute of Certified Public Accountants</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC06599AD6CE42627BC50111AB594C323DADF08E</string>
						<key>dateExpires</key>
						<string>2023/03/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Lottie.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6367RT73QM</string>
						<key>name</key>
						<string>The Korean Institute of Certified Public Accountants</string>
					</dict>
					<key>versionNumber</key>
					<string>3.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC06599AD6CE42627BC50111AB594C323DADF08E</string>
						<key>dateExpires</key>
						<string>2023/03/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Moya.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6367RT73QM</string>
						<key>name</key>
						<string>The Korean Institute of Certified Public Accountants</string>
					</dict>
					<key>versionNumber</key>
					<string>15.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC06599AD6CE42627BC50111AB594C323DADF08E</string>
						<key>dateExpires</key>
						<string>2023/03/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RxCocoa.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6367RT73QM</string>
						<key>name</key>
						<string>The Korean Institute of Certified Public Accountants</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC06599AD6CE42627BC50111AB594C323DADF08E</string>
						<key>dateExpires</key>
						<string>2023/03/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RxRelay.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6367RT73QM</string>
						<key>name</key>
						<string>The Korean Institute of Certified Public Accountants</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC06599AD6CE42627BC50111AB594C323DADF08E</string>
						<key>dateExpires</key>
						<string>2023/03/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RxSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6367RT73QM</string>
						<key>name</key>
						<string>The Korean Institute of Certified Public Accountants</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC06599AD6CE42627BC50111AB594C323DADF08E</string>
						<key>dateExpires</key>
						<string>2023/03/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6367RT73QM</string>
						<key>name</key>
						<string>The Korean Institute of Certified Public Accountants</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC06599AD6CE42627BC50111AB594C323DADF08E</string>
						<key>dateExpires</key>
						<string>2023/03/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftKeychainWrapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6367RT73QM</string>
						<key>name</key>
						<string>The Korean Institute of Certified Public Accountants</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC06599AD6CE42627BC50111AB594C323DADF08E</string>
						<key>dateExpires</key>
						<string>2023/03/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6367RT73QM</string>
						<key>name</key>
						<string>The Korean Institute of Certified Public Accountants</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>6367RT73QM.kr.or.kicpa.app</string>
				<key>com.apple.developer.team-identifier</key>
				<string>6367RT73QM</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>kicpa.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>6f934796-63a8-41eb-8a9e-91d631332d1e</string>
				<key>dateExpires</key>
				<string>2023/03/30</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: kr.or.kicpa.app</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>6367RT73QM</string>
				<key>name</key>
				<string>The Korean Institute of Certified Public Accountants</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
